# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Mac OS files
*.DS_Store

# Compilation results
CMakeCache.txt
CMakeFiles
Makefile
XenC
cmake_install.cmake
